<mat-card class="main-card mat-elevation-z8">
  <div class="mat-headline">1- Cyfe Dashboard</div>
  <div class="content" fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="10px">
    <div class="image-container">
      <img src="./assets/pazarlama-1.jpg" />
    </div>
    <div fxFlex="35" class="about mat-title">
      Cyfe, pazarlama kanalları, web analizi, finans, satış, sosyal medya ve daha fazlasından gelen verileri bir araya getiren web tabanlı,
      hepsi bir arada bir iş kontrol panelidir. Gösterge tablosu beş adede kadar farklı veri kaynağıyla kullanılabilir, ancak daha yoğun
      ihtiyaçları olan (sınırsız veri, dışa aktarma, kullanıcı hesapları, genel URL'ler, vb.) İşletmeler için premium bir sürüm sunar. Cyfe,
      Moz web analizi, anahtar kelime sıralama verileri ve sosyal medya ağları gibi bir abonelik kurmanıza gerek kalmadan doğrudan birçok
      farklı hizmetten de yararlanabilir. Veri limiti yok (premium sürümde) TV modu Marka bilinci oluşturma özelleştirmeleri Tarihsel veri
      arşivleme Kohort ekranları (ör. Müşteri elde tutma takibi için) 60'tan fazla popüler hizmetle önceden oluşturulmuş entegrasyon.
    </div>
  </div>
</mat-card>
<mat-card class="main-card mat-elevation-z8">
  <div class="mat-headline">2- GoodData</div>
  <div class="content" fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="10px">
    <div class="image-container">
      <img src="./assets/pazarlama-2.png" />
    </div>
    <div fxFlex="35" class="about mat-title">
      GoodData, “pazarlamacıların müşterilerinin davranışlarını ve ihtiyaçlarını anlamalarına yardımcı olma” konusunda uzmanlaşmış, bulut
      tabanlı bir BI platformudur. Etkileşimli gösterge panoları, karar vericilerin pazarlamanın işletme üzerindeki genel etkisini
      anlamasına ve belirli kampanyalar ve programlar için taktik bilgiler toplamasına yardımcı olmak için görselleştirme araçları ve self
      servis keşif kullanır. GoodData’nın pazarlama analizi çözümü, özel ilişkilendirme modelleri, kanal YG analizi ve dönüşüm hunisi izleme
      sunar. Sürükle ve bırak arayüzü Yönlendirilmiş analitik / öngörme Sektör kıyaslama karşılaştırmaları Web sitesi demografisi Kapalı
      döngü ROI analizi.
    </div>
  </div>
</mat-card>
<mat-card class="main-card mat-elevation-z8">
  <div class="mat-headline">3- Sisense</div>
  <div class="content" fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="10px">
    <div class="image-container">
      <img src="./assets/pazarlama-3.png" />
    </div>
    <div fxFlex="35" class="about mat-title">
      Sisense, BT üyesi olmayan profesyonellerin verilerini görselleştirmesine ve anlamasına yardımcı olmak için tasarlanmış bir iş analizi
      panosudur. Yerleşik konektörler, sürükle ve bırak arayüzü ve özel filtreler aracılığıyla birden çok kaynaktan veri derler ve düzenler.
      Görselleştirme özellikleri arasında coğrafi haritalar, KPI göstergeleri, çizgi grafikler, dağılım grafikleri ve pasta grafikler
      bulunur. Yerleşik konektörler Salesforce, Adwords, Google Analytics ve Excel gibi popüler pazarlama uygulamalarıyla tak ve kullan
      uyumluluğu sağlar. Ayrıca olası satış oluşturma analizi için özel bir yapılandırma sunar. Sürükle ve bırak arayüzü Dahili konektörler
      “Elastik boru” veritabanı (terabayt ölçeğinde performansı hızlandırır) Rol tabanlı erişim denetimleri Otomatik uyarılar İsteğe bağlı
      yenileme zamanlaması.
    </div>
  </div>
</mat-card>
<mat-card class="main-card mat-elevation-z8">
  <div class="mat-headline">4- Tablo</div>
  <div class="content" fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="10px">
    <div class="image-container">
      <img src="./assets/pazarlama-4.gif" />
    </div>
    <div fxFlex="35" class="about mat-title">
      Tableau, inovasyonu ve istikrarlı platformu nedeniyle iş zekası alanında lider olan çevrimiçi veya şirket içi veri görselleştirme
      aracıdır. Güzel grafikler ve grafikler, kâr amacı gütmeyen kuruluşlardan ve kamu kullanımından kurumsal şirketlere kadar herkes için
      rekabetçi fiyatlandırma ve tonlarca gerçek zamanlı veri kaynağı bekleyin. Tableau, GitHub ve .CSV dosyalarından Fitbit ve Spotify'a
      kadar her şeye bağlantı sağlayan canlı bir topluluğa sahiptir. Bağlantılar topluluğu, Tableau'ya mümkün olduğunca fazla veri kaynağı
      almak için açık kaynaklı belgeler sağlar; yani, veri bağlantınız yoksa bunu kendiniz (veya bir geliştiricinin yardımıyla)
      yapabilirsiniz. Topluluk destekli veri bağlantıları kitaplığı Herkese açık veri kaynaklarına erişim Bilgilerinizi her yerde paylaşmak
      için yerleşik analitik Son teknoloji görseller Tutarlı yazılım yükseltmeleri.
    </div>
  </div>
</mat-card>
<mat-card class="main-card mat-elevation-z8">
  <div class="mat-headline">5- SharpSpring</div>
  <div class="content" fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="10px">
    <div class="image-container">
      <img src="./assets/pazarlama-5.png" />
    </div>
    <div fxFlex="35" class="about mat-title">
      SharpSpring, daha fazla potansiyel müşteriyi beslemek ve geliri artırmak için tasarlanmış ajanslar ve işletmeler için eksiksiz bir
      pazarlama otomasyon aracıdır. Yazılım, şirketlerin daha fazla satış sağlayan kampanyalar, boru hatları ve otomatik iş akışları
      oluşturmalarına yardımcı olmak için satış ve pazarlama otomasyonunu bir araya getiriyor. Pazarlama otomasyonu araçları, büyümeyi
      teşvik etmek için güçlü e-posta ve web analiz ve güçlü analiz ve raporlama özelliklerine sahip akıllı e-posta, web yöneticisi ve
      kampanya izleme araçlarını içerir. Analitikler ve raporlama YG'ye dayalıdır; bu da şirketlerin kampanyalarının nasıl ödeme yaptığını
      ve verimliliklerin nerede bulunabileceğini tam olarak izlemelerini sağlar. YG odaklı analiz Dönüşüm hunileri olmadan otomatik kampanya
      izleme Google Adwords ve Analytics ile entegrasyonlar Birden fazla cihazda özel otomasyonlarla davranış izleme Bizi Duydunuz
      Çevrimdışı kampanyalar için izleme.
    </div>
  </div>
</mat-card>
