<mat-card class="main-card mat-elevation-z8">
  <div class="mat-headline">1- AYLIK FİNANSALLAR</div>
  <div class="content" fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="10px">
    <div class="image-container">
      <img src="./assets/finans-1.jpg" />
    </div>
    <div fxFlex="35" class="about mat-title">
      Her işletmenin satışları için bütçeyi, kategoriye göre giderleri ve toplam karlılığı takip etmesine yardımcı olan temel finansal
      göstergeler. Nakit akışı projeksiyonunu da içerir.
    </div>
  </div>
</mat-card>
<mat-card class="main-card mat-elevation-z8">
  <div class="mat-headline">2- FİYATLANDIRMA VE TEDARİK</div>
  <div class="content" fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="10px">
    <div class="image-container">
      <img src="./assets/finans-2.jpg" />
    </div>
    <div fxFlex="35" class="about mat-title">
      Bu gösterge paneli, elektronik ürünleri için tedarik zincirlerine hızlı bir şekilde bakılması gereken bir şirket için üretilmiştir.
      Gönderilen, satılan ve eldeki birimler açıkça görselleştirilir.
    </div>
  </div>
</mat-card>
<mat-card class="main-card mat-elevation-z8">
  <div class="mat-headline">3- KONSOLİDE HESAPLAR</div>
  <div class="content" fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="10px">
    <div class="image-container">
      <img src="./assets/finans-3.jpg" />
    </div>
    <div fxFlex="35" class="about mat-title">
      Sınırsız sayıda şirket için AR, AP, Cashflow, satış ve daha fazlasını tek bir kontrol panelinden nasıl takip edebileceğinizi görün.
      ClicData ve Xero'dan yararlanarak, işletme finanslarının gerçek zamanlı görünümünü elde etmek için Mac, PC, tablet veya telefonunuzun
      herhangi bir yerinde, herhangi bir zamanda erişilebilen inanılmaz bir gerçek zamanlı raporlama düzeyi ve gerçeğin tek bir sürümü
      oluşturulur.
    </div>
  </div>
</mat-card>
<mat-card class="main-card mat-elevation-z8">
  <div class="mat-headline">4- SATIŞ VE FİNANSAL İÇERİK RAPORU</div>
  <div class="content" fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="10px">
    <div class="image-container">
      <img src="./assets/finans-4.jpg" />
    </div>
    <div fxFlex="35" class="about mat-title">
      Burada, birden fazla iş sisteminden bilgi birleştirmenin nasıl şaşırtıcı bir gösterge tablosu oluşturabileceğini gösteren basit ama
      güçlü bir gösterge tablosu bulunmaktadır. CRM ve Muhasebe verilerinizi karıştırarak, inanılmaz düzeyde gerçek zamanlı raporlama ve
      Mac'inizde, PC'nizde, tabletinizde herhangi bir zamanda erişilebilen gerçeğin tek bir sürümünü elde edersiniz. Tek bir ekranda nasıl
      ödeme yapabileceğinizi, satış hesaplarınızı ve müşteri değerini tek bir raporda görebilirsiniz.
    </div>
  </div>
</mat-card>
<mat-card class="main-card mat-elevation-z8">
  <div class="mat-headline">5- FİNANSAL PERFORMANS</div>
  <div class="content" fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="10px">
    <div class="image-container">
      <img src="./assets/finans-5.jpg" />
    </div>
    <div fxFlex="35" class="about mat-title">
      Gösterge tablosunda, cari yıl için ödeme türü, karşılaştırmalı değerlendirme veya nakit konumuna göre etkinlik değeri gibi finansal
      KPI'lar görüntülenir. Elektronik veya kağıt ödemelerden gelen tutarlar ile yere ve bağlı şirkete göre filtreleme de
      karşılaştırılabilir.
    </div>
  </div>
</mat-card>
