<mat-card class="main-card mat-elevation-z8">
  <div class="mat-headline">1- Satış Yöneticisi Gösterge Tablosu: Günlük Görünüm</div>
  <div class="content" fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="10px">
    <div class="image-container">
      <img src="./assets/satis-1.png" />
    </div>
    <div fxFlex="35" class="about mat-title">
      Satışlar bu ay nasıl gidiyor? Son zamanlarda hangi fırsatlar kazanıldı ve kayboldu? Boru hattımız nasıl değişiyor? Gelecekteki
      hedeflerimize ulaşmak için yeterince fırsat mı sağlıyoruz? Bugün kimi tebrik etmeliyim?
    </div>
  </div>
</mat-card>
<mat-card class="main-card mat-elevation-z8">
  <div class="mat-headline">2- Satış Yöneticisi Panosu: Süreç Verimliliği</div>
  <div class="content" fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="10px">
    <div class="image-container">
      <img src="./assets/satis-2.png" />
    </div>
    <div fxFlex="35" class="about mat-title">
      Ekibimiz veri kalitesi ile ne sıklıkla mücadele ediyor? Veri hataları nerede oluşur? Ve ne sıklıkla meydana gelirler? Satış
      faaliyetleri hedeflerimizi karşılıyor mu? Ekibimizin satış faaliyetleri ne kadar etkilidir? Çalışanlar arasındaki satış döngümüz
      nedir?
    </div>
  </div>
</mat-card>
<mat-card class="main-card mat-elevation-z8">
  <div class="mat-headline">3- Yöneticiler için Satış Performansı Gösterge Tablosu</div>
  <div class="content" fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="10px">
    <div class="image-container">
      <img src="./assets/satis-3.png" />
    </div>
    <div fxFlex="35" class="about mat-title">
      Bu ay çalışanlar rezervasyon ve öngörme nedir? Çalışanlar hedeflere ulaşıyor mu? Temsilcinin boru hatları onları başarıya hazırlıyor
      mu? Tekrarlar kaç satış faaliyeti gerçekleştiriyor? Çalışanların satış döngüleri nasıl karşılaştırılır?
    </div>
  </div>
</mat-card>
<mat-card class="main-card mat-elevation-z8">
  <div class="mat-headline">4- Satış Temsilcisi Gösterge Tablosu: Günlük Görünüm</div>
  <div class="content" fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="10px">
    <div class="image-container">
      <img src="./assets/satis-4.png" />
    </div>
    <div fxFlex="35" class="about mat-title">
      Bu ay çalışanlar rezervasyon ve öngörme nedir? Çalışanlar hedeflere ulaşıyor mu? Temsilcinin boru hatları onları başarıya hazırlıyor
      mu? Tekrarlar kaç satış faaliyeti gerçekleştiriyor? Çalışanların satış döngüleri nasıl karşılaştırılır?
    </div>
  </div>
</mat-card>
<mat-card class="main-card mat-elevation-z8">
  <div class="mat-headline">5- Yönetici Panosu: Günlük Görünüm</div>
  <div class="content" fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="10px">
    <div class="image-container">
      <img src="./assets/satis-5.png" />
    </div>
    <div fxFlex="35" class="about mat-title">
      En iyi satır numaralarımız nedir? Satış hedeflerimize ulaşacak mı? Son başarılar ve özlenenler neler? Boru hattı nasıl değişiyor?
      Olası satış yaratma hedefleri ve satışları besleme mi?
    </div>
  </div>
</mat-card>
