<mat-card class="main-card mat-elevation-z8">
  <div class="mat-headline">1- Tedarik Zinciri Kontrol Paneli</div>
  <div class="content" fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="10px">
    <div class="image-container" [ngStyle]="{ width: '800px' }">
      <img src="./assets/tedarik-1.png" />
    </div>
  </div>
</mat-card>
<mat-card class="main-card mat-elevation-z8">
  <div class="mat-headline">2- Gönderim Durumu Gösterge Tablos</div>
  <div class="content" fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="10px">
    <div class="image-container">
      <img src="./assets/tedarik-2.png" />
    </div>
    <div fxFlex="35" class="about mat-title">
      Herhangi bir anda tedarik zinciriniz, siparişlerde ani bir artış veya öngörülemeyen durumlar nedeniyle başka bir zorluk ile karşı
      karşıya kalabilir. Bu gösterge tablosundaki en önemli KPI'lardan biri sipariş durumu KPI'dır. Bu KPI, sistemdeki tıkanıklıkları
      tanımlayabilmeniz ve gönderim işlemlerinizin sorunsuz çalışmasını sağlayabilmeniz için her siparişin geçerli durumunu gösterir.
    </div>
  </div>
</mat-card>
<mat-card class="main-card mat-elevation-z8">
  <div class="mat-headline">3- Depo Siparişi Performans Gösterge Tablosu</div>
  <div class="content" fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="10px">
    <div class="image-container">
      <img src="./assets/tedarik-3.png" />
    </div>
    <div fxFlex="35" class="about mat-title">
      Tedarik zincirinizin performansı, nakliye işlemlerinizin hava geçirmez olmasını sağlar. Bu gösterge panosu, gönderim
      operasyonlarınızın farklı bölgeler için nasıl performans gösterdiğini gösteren bölgesel bir harita da içerir.
    </div>
  </div>
</mat-card>
<mat-card class="main-card mat-elevation-z8">
  <div class="mat-headline">4- tedarikçi teslimatı</div>
  <div class="content" fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="10px">
    <div class="image-container" [ngStyle]="{ width: '800px' }">
      <img src="./assets/tedarik-4.jpg" />
    </div>
  </div>
</mat-card>
