<mat-card class="main-card mat-elevation-z8">
  <div class="mat-display-2">ERP'lerde dashboard Raporları için grafik göstergeler</div>
  <ul class="mat-title content">
    <li><strong>Grid:</strong> Verileri tablo şeklinde görüntülemeyi sağlar.</li>
    <li><strong>Pivot:</strong> Tablolar arası raporları görüntüler ve çok boyutlu verileri analiz etmenizi sağlar.</li>
    <li><strong>Chart:</strong> Çubukları, çizgileri, noktaları vb. kullanarak verileri grafiksel olarak görüntüler.</li>
    <li><strong>Pies:</strong> Her bir değerin toplam değere katkısını temsil eden pasta görüntüsü oluşturur.</li>
    <li><strong>Treemap:</strong> İç içe dikdörtgenler içindeki verileri görselleştirmenizi sağlar.</li>
    <li><strong>Scatter Chart:</strong> Sayısal değişkenler arasındaki ilişkileri Dashboard Raporlama üzerinde görselleştirmeyi sağlar.</li>
    <li><strong>Cards:</strong> Her biri iki değer arasındaki farkı gösteren bir dizi KPI öğesi (kart) görüntüsü oluşturur.</li>
    <li>
      <strong>Gauges:</strong> KPI öğeleriyle (göstergeler) verileri görselleştirir. Her gösterge bir hedefe / KPI’ya doğru ilerlemeyi
      ölçer.
    </li>
    <li><strong>Text Box:</strong> Panodaki zengin metni görüntüler.</li>
    <li><strong>Image:</strong> Statik görüntüler eklemenizi veya bir veri deposunda bulunan görüntüleri kullanmanızı sağlar.</li>
    <li>
      <strong>Geo Point Map:</strong> Coğrafi koordinatları kullanarak harita üzerinde belirtme çizgileri yerleştirmenizi sağlar. Örnek
      verecek olursak, Harita üzerinden lokasyon bazlı toplam satış tutarlarının Dashboard raporlama üzerinde gösterilmesidir.
    </li>
    <li><strong>Choropleth Map:</strong> Alanları verilen değerlerle orantılı olarak renklendirmenizi sağlar.</li>
    <li><strong>Bubble Map:</strong> Coğrafi koordinatları kullanarak haritada baloncukları görüntüler.</li>
    <li><strong>Pie Map:</strong> Coğrafi koordinatları kullanarak haritaya turta yerleştirmenizi sağlar.</li>
    <li>
      <strong>Range Filter:</strong> Son kullanıcıların seçim başparmaklarını argüman ekseni boyunca sürükleyerek filtre uygulamalarına izin
      verir.
    </li>
    <li><strong>Combo Box:</strong> Son kullanıcıların açılan listeden bir değer seçmesine izin verir.</li>
    <li>
      <strong>List Box:</strong> Son kullanıcıların listeden bir değer seçmesine izin verir. Örnek verecek olursak, satış temsilcisi
      performans raporunda satış temsilcisi listesinin Dashboard Raporlama üzerinde gözükmesi ve anlık olarak listelenmesi.
    </li>
    <li>
      <strong>Tree View:</strong> Değerleri hiyerarşik olarak görüntüler ve üst kullanıcıların alt / üst değerleri seçerek diğer pano
      öğelerini filtrelemelerine olanak tanır.
    </li>
    <li><strong>Date Filter:</strong> Son kullanıcıların diğer pano öğelerini tarih-saat değerlerine göre filtrelemelerini sağlar.</li>
  </ul>
</mat-card>
<mat-card class="main-card mat-elevation-z8">
  <div class="mat-display-2">satınalma, stok, Satış, maliyet, kalite .. vb. modüller için en çok kullanilan grafik gostergeler</div>
  <div class="content">
    <div class="mat-headline">Kalite Kontrol Modülü:</div>
    <div class="mat-title">
      Ürünlerin belirlenen kalite koşullarına uygun üretilip üretilmediğinin kontrolü için kalite şartlarının kontrol edildiği, sistemin tüm
      kontrol kayıtlarını sakladığı ve kalite verileri ile sonuçlarının üretildiği modüldür. Özellikle bir ürünün üretilmesine yönelik
      olarak, o ürünün izlenebilirliğinin ve kalite verilerinin saklanmasında önemli rol oynar. Geriye doğru bilgiye ulaşılması bakımından
      önemli kolaylıklar ve avantajlar sunar.
    </div>
    <div class="mat-headline">Finans Modülü:</div>
    <div class="mat-title">
      Özellikle işletmelerin finansal altyapılarına ait tüm finansal verilerin takip edilmesinde, kayıtların sürekli ve güncel olarak
      tutulmasında, yatırım kararlarındaki faaliyetlerde, kısa, orta ve uzun vadedeki finansal ihtiyaçlarda ve ödeme planlarında
      faaliyetlerin etkin ve verimli yönetilmesi ile hata ve kayıpların önlenmesi bakımından çok önemli kazançlar sunmaktadır.
    </div>
    <div class="mat-headline">Genel Muhasebe Modülü:</div>
    <div class="mat-title">
      Muhasebe ile ilgili kayıtların, müşteri veri tabanı bilgilerinin, ödeme planlarının, alacakların ve tahsilatların, çeklerin ve diğer
      genel muhasebe uygulamalarının tamamını kapsamaktadır. Personelin alacakları, bordro işlemleri ve diğer muhasebe kayıtlarının tamamı
      bu modül altında saklanmaktadır.
    </div>
    <div class="mat-headline">İnsan Kaynakları Modülü:</div>
    <div class="mat-title">
      Personelin kariyerine ait eğitim ihtiyaçlarının belirlenmesinde, eğitim planlarının oluşturulmasında, eğitim kayıtlarının
      saklanmasında, işe alım kriterlerinin belirlenmesinde, işe alım sürecindeki mülakat sonuçlarının ve adayların özgeçmişlerinin
      saklanmasında etkin olarak kullanılabilen bir modüldür. Özellikle insan kaynaklarının sürekli olarak geliştirilmesinde, yetkinliklerin
      belirlenmesinde ve tüm bu süreçlerle ilgili verilerin kayıt altında olmasında son derece önemli kolaylıklar sağlamaktadır.
    </div>
  </div>
</mat-card>
