<mat-card class="main-card mat-elevation-z8">
  <div class="mat-headline">1- Üretim</div>
  <div class="content" fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="10px">
    <div class="image-container">
      <img src="./assets/uretim-1.jpg" />
    </div>
    <div fxFlex="35" class="about mat-title">
      Hızlı İstatistikler İlk 5 Makineye Göre Üretim Hacmi Duruş Nedenleri Sebeplere Göre İade Et En İyi 5 Ürün
    </div>
  </div>
</mat-card>
<mat-card class="main-card mat-elevation-z8">
  <div class="mat-headline">2- Manufacturing cost management :</div>
  <div class="content" fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="10px">
    <div class="image-container">
      <img src="./assets/uretim-2.png" />
    </div>
    <div fxFlex="35" class="about mat-title">
      Ort. Aktif Getirisi Toplam Bakım Maliyeti Ort. Aktif Ciro Ortalama Birim Maliyetler Aktif Kârlılığı Varlık Devir Hızı 4.200 Dolarlık
      Hedefli Bakım Maliyetleri < 41 Dolar Hedefli Birim Maliyetler
    </div>
  </div>
</mat-card>
<mat-card class="main-card mat-elevation-z8">
  <div class="mat-headline">3- Depo Siparişi Performans Gösterge Tablosu</div>
  <div class="content" fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="10px">
    <div class="image-container">
      <img src="./assets/tedarik-3.png" />
    </div>
    <div fxFlex="35" class="about mat-title">
      Tedarik zincirinizin performansı, nakliye işlemlerinizin hava geçirmez olmasını sağlar. Bu gösterge panosu, gönderim
      operasyonlarınızın farklı bölgeler için nasıl performans gösterdiğini gösteren bölgesel bir harita da içerir.
    </div>
  </div>
</mat-card>
<mat-card class="main-card mat-elevation-z8">
  <div class="mat-headline">4- Üretim Dashboard Maliyet Yönetimi ve Varlık Devir Hızı</div>
  <div class="content" fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="10px">
    <div class="image-container">
      <img src="./assets/uretim-4.jpg" />
    </div>
    <div fxFlex="35" class="about mat-title">
      Bu Dashboard grubunu adıyla sunmak - Maliyet Yönetimi ve Varlık Devirini Gösteren Üretim Kpi Panosu. Bu dört aşamalı bir süreçtir. Bu
      süreçteki aşamalar İmalat, Üretim, İmalattır.
    </div>
  </div>
</mat-card>
<mat-card class="main-card mat-elevation-z8">
  <div class="mat-headline">5- İş Zekası ile Üretim Maliyetlerini Azaltması</div>
  <div class="content" fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="10px">
    <div class="image-container" [ngStyle]="{ width: '800px' }">
      <img src="./assets/uretim-5.png" />
    </div>
  </div>
</mat-card>
